.DS_Store
.pycache_local/
.mplconfig/
.cache_local/
__pycache__/
*.pyc
.venv/
src/ouromaintain.egg-info/

data/
!data/.gitkeep

CMAPSSData/
IMS/
IMS_extracted/
artifacts/

.ipynb_checkpoints/
slides/main.synctex.gz
